.image-section {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}

.image-section__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem;
}

.image-section__column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-section h3 {
  color: #1f2535;
  font-size: 1.5rem;
  font-weight: 800;
  letter-spacing: 1px;
}

.image-section p {
  color: grey;
}

/* media queries */
@media (max-width: 1024px) {
  .image-section__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

@media (max-width: 768px) {
  .image-section__grid {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}
